<style>
    .map-container-5 {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
    }

        .map-container-5 iframe {
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            position: absolute;
        }
</style>
<div class="row">
    <div class="col-md-3 mb-4">
        <div class="card">
            <div class="card-header" id="CardDasRegioes">
                <h4>Coordenados</h4>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h6>
                        Segredo : 0
                    </h6>
                </li>
                <li class="list-group-item">
                    <h6 accesskey="">
                        Prosa : 0
                    </h6>
                </li>
                <li class="list-group-item">
                    <h6 accesskey="">
                        Bandeira : 0
                    </h6>
                </li>
                <li class="list-group-item">
                    <h6 accesskey="">
                        Centro : 0
                    </h6>
                </li>
                <li class="list-group-item">
                    <h6 accesskey="">
                        Lagoa : 0
                    </h6>
                </li>
                <li class="list-group-item">
                    <h6 accesskey="">
                        Anhanduizinho : 0
                    </h6>
                </li>
                <li class="list-group-item">
                    <h6 accesskey="">
                        Imbirussu : 0
                    </h6>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-9 mb-4">
        <div class="card card-cascade narrower">
            <div class="card-body card-body-cascade text-center">
                <div id="map" class="z-depth-1-half map-container-5" style="height: 300px">
                </div>
            </div>
        </div>
    </div>
</div>
