<style>
    .map-container-5 {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
    }

        .map-container-5 iframe {
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            position: absolute;
        }
</style>
<div class="row">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-group" id="listaCorpo">
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 mb-4">
        <div class="card card-cascade narrower">
            <div class="card-body card-body-cascade text-center">
                <div id="map" class="z-depth-1-half map-container-5" style="height: 300px">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/map.js?v=6"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGDXOOvYeMNR44II5ttoojbDRtdD8SxoI&callback=initMap"
            async defer></script>
}